.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*:focus {
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tile {
  border: 2px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  height: 64px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.tile-text {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blinker-green {
  50% {
    color: #090;
    opacity: 0.5;
  }
}

@keyframes blinker-yellow {
  50% {
    color: #FF0;
    opacity: 0.5;
  }
}
  
@keyframes blinker-red {
  50% {
    color: #F00;
    opacity: 0.5;
  }
}

.game-won-modal .modal-content {
  background: radial-gradient(circle, #0F0 0%, #090 100%);
  color: #000;
}

.game-lost-modal .modal-content {
  background: radial-gradient(circle, #F00 0%, #900 100%);
  color: #FFF;
}
