.title {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*:focus {
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tile {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.tile-text {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blinker-green {
  50% {
    color: #090;
    opacity: 0.5;
  }
}

@keyframes blinker-yellow {
  50% {
    color: #FF0;
    opacity: 0.5;
  }
}
  
@keyframes blinker-red {
  50% {
    color: #F00;
    opacity: 0.5;
  }
}

.game-won-modal .modal-content {
  background: radial-gradient(circle, #0F0 0%, #090 100%);
  color: #000;
}

.game-lost-modal .modal-content {
  background: radial-gradient(circle, #F00 0%, #900 100%);
  color: #FFF;
}
